@model isIFR.Models.METAR

@{
    ViewData["Title"] = "Flight Rules At Airport";
}

<div class="container">

    <h1 class="display-4">@ViewData["Title"]</h1>

    <div id="condition-holder" class="container">
        <h2 class="text-center">@ViewBag.Message</h2>
        <h1 class="display-4">@Model.flight_rules</h1>
        
    </div>


</div>