@model isIFR.Models.AirportCode

@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<div class="text-center container">
   
    <div class="container-fluid">
        
            <div>
                <h1 class="display-4">Check Current Flight Rules For Airport</h1>
                <form id="aiport-form" asp-action="Index">
                    <div class="form-group">
                        <label asp-for="code">Enter ICAO Airport Code</label>
                        <input asp-for="code" id="airportFormInput" class="form-control" placeholder="e.g. KATL" />
                        <span asp-validation-for="code"></span>
                        <br />
                        <input class="btn btn-primary" type="submit" value="Go" />
                    </div>
                </form>
                <br />
                <div id="condition-holder">
                    <h1 class="display-3">@ViewBag.airportName</h1>
                    <br />
                    <h1 class="display-3">@ViewBag.metarRes</h1>
                    <h2 id="rawMetar" class="display-4">Raw METAR: @ViewBag.sanitized</h2>
                </div>
            </div>
        
    </div>
</div>
